services:
  unity-editor-mcp:
    build: .
    container_name: unity-editor-mcp
    volumes:
      - .:/unity-editor-mcp
      - bash-history:/root/.bash_history_dir
      - claude_config:/root/.claude
      - ~/.codex:/root/.codex
      - ~/.serena:/root/.serena
    environment:
      - NPM_USER
      - NPM_EMAIL
      - NPM_PASS
      - GITHUB_TOKEN
      - GITHUB_PERSONAL_ACCESS_TOKEN
      - GITHUB_USERNAME
      - GIT_USER_EMAIL
      - UNITY_HOST=host.docker.internal
      - UNITY_PORT=6400
      # bash_history
      - HISTFILE=/root/.bash_history_dir/.bash_history
      - HISTSIZE=5000
      - HISTFILESIZE=200000
      # Claude Code
      - MAX_MCP_OUTPUT_TOKENS
      - ENABLE_BACKGROUND_TASKS=1
      - FORCE_AUTO_BACKGROUND_TASKS=1
    stdin_open: true
    tty: true
    working_dir: /unity-editor-mcp

volumes:
  bash-history: {}
  claude_config: {}
